body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-spacing: 0px;
}

.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}

.course-nav {
    padding-top: 40px;
}